In [3]:
import h5py
import pandas as pd
import numpy as np

In [13]:
path = '/Users/Jonorato/Documents/DIRECT Classes/Alaska_Project/Solar Panel Data/Data/'

In [14]:
panel_1 = pd.read_excel(path+'SMA Public Sites/uaf_engineering_building_cleaned.xlsx')

    Year      Month   Energy  DC Capacity   Location Tracking
0   2015    October    21.08         10.5  Fairbanks       No
1   2015   November   205.54          NaN        NaN      NaN
2   2015   December   119.81          NaN        NaN      NaN
3   2016    January   274.06          NaN        NaN      NaN
4   2016   February  1044.90          NaN        NaN      NaN
5   2016      March  1438.62          NaN        NaN      NaN
6   2016      April  1648.53          NaN        NaN      NaN
7   2016        May  1435.90          NaN        NaN      NaN
8   2016       June  1277.01          NaN        NaN      NaN
9   2016       July  1162.46          NaN        NaN      NaN
10  2016     August  1313.42          NaN        NaN      NaN
11  2016  September  1075.44          NaN        NaN      NaN
12  2016    October  1406.41          NaN        NaN      NaN
13  2016   November   386.83          NaN        NaN      NaN
14  2016   December   137.67          NaN        NaN      NaN
15  2017    January   183.84          NaN        NaN      NaN
16  2017   February   730.74          NaN        NaN      NaN
17  2017      March  1931.00          NaN        NaN      NaN
18  2017      April  1835.67          NaN        NaN      NaN
19  2017        May  1555.28          NaN        NaN      NaN
20  2017       June  1491.58          NaN        NaN      NaN
21  2017       July  1359.89          NaN        NaN      NaN
22  2017     August  1083.69          NaN        NaN      NaN
23  2017  September   947.55          NaN        NaN      NaN
24  2017    October   447.10          NaN        NaN      NaN
25  2017   November   198.11          NaN        NaN      NaN
26  2017   December    58.28          NaN        NaN      NaN
27  2018    January   252.38          NaN        NaN      NaN
28  2018   February   758.18          NaN        NaN      NaN
29  2018      March  1303.02          NaN        NaN      NaN
30  2018      April  1857.09          NaN        NaN      NaN
31  2018        May  1429.83          NaN        NaN      NaN
32  2018       June  1273.96          NaN        NaN      NaN
33  2018       July  1462.20          NaN        NaN      NaN
34  2018     August   808.16          NaN        NaN      NaN
35  2018  September   959.53          NaN        NaN      NaN
36  2018    October   830.22          NaN        NaN      NaN
37  2018   November   345.31          NaN        NaN      NaN
38  2018   December    53.52          NaN        NaN      NaN
39  2019    January   268.20          NaN        NaN      NaN
40  2019   February   750.13          NaN        NaN      NaN
41  2019      March  1181.63          NaN        NaN      NaN
42  2019      April   439.20          NaN        NaN      NaN