In [29]:
import h5py
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from bokeh.plotting import figure, show, output_file

In [9]:
my_file = h5py.File("alaska_solar_data_storage.hdf5", 'r')

In [10]:
fairbanks = my_file.get('Fairbanks')

In [11]:
fairbanks.keys()

In [12]:
fairbanks['UAF Engineering Building'].keys()

In [13]:
def hdf5_to_dataframe(hdf5_filename, location_name, panel_name):
    """This function extracts data from an HDF5 file and loads it into a pandas dataframe"""
    #Load the HDF5 file data
    hdf5_file = h5py.File('{}.hdf5'.format(hdf5_filename), 'r')
    hdf5_location = hdf5_file.get(location_name)
    panel_location = hdf5_location.get(panel_name)
    dataframe = pd.DataFrame()
    for keys in panel_location.keys():
        dataframe[str(keys)] = panel_location[str(keys)]
    return dataframe

In [21]:
result=pd.DataFrame(columns=['Month', 'Year'])
a=0
for name in fairbanks:
    base= hdf5_to_dataframe('alaska_solar_data_storage','Fairbanks', name )
    result = pd.merge(result, base, on = ['Month', 'Year'], how='outer',suffixes=(a, a+1))
    a=a+1

In [22]:
result['Date'] = ""
for i in range(len(result)):
    result['Date'][i] = str(result['Year'][i]) + '-' + str(result['Month'][i])    
    # Change the date into a datetime format
    result['Date'] = pd.to_datetime(result['Date'])
    
result.drop(['Year','Month'],axis = 1,inplace = True)

result

C:\Users\pengz\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     Energy1  Energy2  Energy3  Energy4       Date
0     112.16      NaN      NaN      NaN 2010-10-01
1      34.71      NaN      NaN      NaN 2010-11-01
2       2.07      NaN      NaN      NaN 2010-12-01
3      44.86      NaN      NaN      NaN 2011-01-01
4     195.98      NaN      NaN      NaN 2011-02-01
5     748.10      NaN      NaN      NaN 2011-03-01
6     612.78      NaN      NaN      NaN 2011-04-01
7     561.04      NaN   93.412      NaN 2011-05-01
8     363.54      NaN  516.681      NaN 2011-06-01
9     414.10      NaN  535.737      NaN 2011-07-01
10    416.05      NaN  447.844      NaN 2011-08-01
11    365.11      NaN  328.926      NaN 2011-09-01
12    234.44      NaN  191.656      NaN 2011-10-01
13     41.11      NaN   17.477      NaN 2011-11-01
14      1.13      NaN    2.347      NaN 2011-12-01
15     17.60      NaN   12.721      NaN 2012-01-01
16    182.83      NaN  123.837      NaN 2012-02-01
17    569.11      NaN  380.589      NaN 2012-03-01
18    639.88      NaN  455.946      NaN 2012-04-01
19    474.30      NaN  449.159      NaN 2012-05-01
20    396.51      NaN  567.695      NaN 2012-06-01
21    382.35      NaN  506.517      NaN 2012-07-01
22    411.35      NaN   31.989      NaN 2012-08-01
23    277.79      NaN      NaN      NaN 2012-09-01
24    255.37      NaN  176.633      NaN 2012-10-01
25     77.73      NaN    0.016      NaN 2012-11-01
26      2.51      NaN    0.588      NaN 2012-12-01
27     19.08      NaN    7.656      NaN 2013-01-01
28    191.08      NaN   99.382      NaN 2013-02-01
29    618.15      NaN  400.827      NaN 2013-03-01
..       ...      ...      ...      ...        ...
73     59.76   27.172   36.257   386.83 2016-11-01
74      2.41    0.074    0.294   137.67 2016-12-01
75     21.27    0.053    5.712   183.84 2017-01-01
76    191.17    0.021   80.684   730.74 2017-02-01
77    688.81    0.241  460.711  1931.00 2017-03-01
78    643.81  501.826  610.509  1835.67 2017-04-01
79    474.61  458.952  575.834  1555.28 2017-05-01
80    473.82  481.048  608.521  1491.58 2017-06-01
81    448.72  426.275  493.523  1359.89 2017-07-01
82    359.82  323.475  334.510  1083.69 2017-08-01
83    309.21  235.724  233.131   947.55 2017-09-01
84    124.69   92.032   89.338   447.10 2017-10-01
85     30.02    5.778   11.408   198.11 2017-11-01
86      1.25    0.000    1.702    58.28 2017-12-01
87     28.47    0.000    0.679   252.38 2018-01-01
88    185.12    0.004   52.282   758.18 2018-02-01
89    500.07    0.720  307.262  1303.02 2018-03-01
90    678.68  381.284  582.507  1857.09 2018-04-01
91    440.84  440.873  513.977  1429.83 2018-05-01
92    392.80  406.949  481.166  1273.96 2018-06-01
93    472.41  450.397  497.725  1462.20 2018-07-01
94    252.00  236.409  225.248   808.16 2018-08-01
95    315.08  244.514  204.549   959.53 2018-09-01
96    244.54  162.442  126.614   830.22 2018-10-01
97     72.20   36.201   29.878   345.31 2018-11-01
98      0.90    0.044    0.176    53.52 2018-12-01
99     33.83    0.186    3.979   268.20 2019-01-01
100   220.85    0.223   83.889   750.13 2019-02-01
101   417.85  173.973  244.154  1181.63 2019-03-01
102   134.82  104.017  131.262   439.20 2019-04-01

[103 rows x 5 columns]

In [24]:
col=result['Date']
result= result.drop(['Date'], axis=1)
#result.loc["mean"]=result.apply(np.mean)
result

     Energy1  Energy2  Energy3  Energy4
0     112.16      NaN      NaN      NaN
1      34.71      NaN      NaN      NaN
2       2.07      NaN      NaN      NaN
3      44.86      NaN      NaN      NaN
4     195.98      NaN      NaN      NaN
5     748.10      NaN      NaN      NaN
6     612.78      NaN      NaN      NaN
7     561.04      NaN   93.412      NaN
8     363.54      NaN  516.681      NaN
9     414.10      NaN  535.737      NaN
10    416.05      NaN  447.844      NaN
11    365.11      NaN  328.926      NaN
12    234.44      NaN  191.656      NaN
13     41.11      NaN   17.477      NaN
14      1.13      NaN    2.347      NaN
15     17.60      NaN   12.721      NaN
16    182.83      NaN  123.837      NaN
17    569.11      NaN  380.589      NaN
18    639.88      NaN  455.946      NaN
19    474.30      NaN  449.159      NaN
20    396.51      NaN  567.695      NaN
21    382.35      NaN  506.517      NaN
22    411.35      NaN   31.989      NaN
23    277.79      NaN      NaN      NaN
24    255.37      NaN  176.633      NaN
25     77.73      NaN    0.016      NaN
26      2.51      NaN    0.588      NaN
27     19.08      NaN    7.656      NaN
28    191.08      NaN   99.382      NaN
29    618.15      NaN  400.827      NaN
..       ...      ...      ...      ...
73     59.76   27.172   36.257   386.83
74      2.41    0.074    0.294   137.67
75     21.27    0.053    5.712   183.84
76    191.17    0.021   80.684   730.74
77    688.81    0.241  460.711  1931.00
78    643.81  501.826  610.509  1835.67
79    474.61  458.952  575.834  1555.28
80    473.82  481.048  608.521  1491.58
81    448.72  426.275  493.523  1359.89
82    359.82  323.475  334.510  1083.69
83    309.21  235.724  233.131   947.55
84    124.69   92.032   89.338   447.10
85     30.02    5.778   11.408   198.11
86      1.25    0.000    1.702    58.28
87     28.47    0.000    0.679   252.38
88    185.12    0.004   52.282   758.18
89    500.07    0.720  307.262  1303.02
90    678.68  381.284  582.507  1857.09
91    440.84  440.873  513.977  1429.83
92    392.80  406.949  481.166  1273.96
93    472.41  450.397  497.725  1462.20
94    252.00  236.409  225.248   808.16
95    315.08  244.514  204.549   959.53
96    244.54  162.442  126.614   830.22
97     72.20   36.201   29.878   345.31
98      0.90    0.044    0.176    53.52
99     33.83    0.186    3.979   268.20
100   220.85    0.223   83.889   750.13
101   417.85  173.973  244.154  1181.63
102   134.82  104.017  131.262   439.20

[103 rows x 4 columns]

In [27]:
result['Mean'] = result.mean(1)
result["STD"] = result.std(1)
result

     Energy1  Energy2  Energy3  Energy4       Mean         STD
0     112.16      NaN      NaN      NaN  112.16000    0.000000
1      34.71      NaN      NaN      NaN   34.71000    0.000000
2       2.07      NaN      NaN      NaN    2.07000    0.000000
3      44.86      NaN      NaN      NaN   44.86000    0.000000
4     195.98      NaN      NaN      NaN  195.98000    0.000000
5     748.10      NaN      NaN      NaN  748.10000    0.000000
6     612.78      NaN      NaN      NaN  612.78000    0.000000
7     561.04      NaN   93.412      NaN  327.22600  233.814000
8     363.54      NaN  516.681      NaN  440.11050   76.570500
9     414.10      NaN  535.737      NaN  474.91850   60.818500
10    416.05      NaN  447.844      NaN  431.94700   15.897000
11    365.11      NaN  328.926      NaN  347.01800   18.092000
12    234.44      NaN  191.656      NaN  213.04800   21.392000
13     41.11      NaN   17.477      NaN   29.29350   11.816500
14      1.13      NaN    2.347      NaN    1.73850    0.608500
15     17.60      NaN   12.721      NaN   15.16050    2.439500
16    182.83      NaN  123.837      NaN  153.33350   29.496500
17    569.11      NaN  380.589      NaN  474.84950   94.260500
18    639.88      NaN  455.946      NaN  547.91300   91.967000
19    474.30      NaN  449.159      NaN  461.72950   12.570500
20    396.51      NaN  567.695      NaN  482.10250   85.592500
21    382.35      NaN  506.517      NaN  444.43350   62.083500
22    411.35      NaN   31.989      NaN  221.66950  189.680500
23    277.79      NaN      NaN      NaN  277.79000    0.000000
24    255.37      NaN  176.633      NaN  216.00150   39.368500
25     77.73      NaN    0.016      NaN   38.87300   38.857000
26      2.51      NaN    0.588      NaN    1.54900    0.961000
27     19.08      NaN    7.656      NaN   13.36800    5.712000
28    191.08      NaN   99.382      NaN  145.23100   45.849000
29    618.15      NaN  400.827      NaN  509.48850  108.661500
..       ...      ...      ...      ...        ...         ...
73     59.76   27.172   36.257   386.83  127.50475  150.193000
74      2.41    0.074    0.294   137.67   35.11200   59.218913
75     21.27    0.053    5.712   183.84   52.71875   76.100463
76    191.17    0.021   80.684   730.74  250.65375  285.362758
77    688.81    0.241  460.711  1931.00  770.19050  714.615504
78    643.81  501.826  610.509  1835.67  897.95375  543.930715
79    474.61  458.952  575.834  1555.28  766.16900  457.797040
80    473.82  481.048  608.521  1491.58  763.74225  423.619044
81    448.72  426.275  493.523  1359.89  682.10200  392.069262
82    359.82  323.475  334.510  1083.69  525.37375  322.613219
83    309.21  235.724  233.131   947.55  431.40375  299.558388
84    124.69   92.032   89.338   447.10  188.29000  150.070548
85     30.02    5.778   11.408   198.11   61.32900   79.478480
86      1.25    0.000    1.702    58.28   15.30800   24.817727
87     28.47    0.000    0.679   252.38   70.38225  105.702438
88    185.12    0.004   52.282   758.18  248.89650  301.679409
89    500.07    0.720  307.262  1303.02  527.76800  481.711878
90    678.68  381.284  582.507  1857.09  874.89025  577.137312
91    440.84  440.873  513.977  1429.83  706.38000  418.749411
92    392.80  406.949  481.166  1273.96  638.71875  368.289140
93    472.41  450.397  497.725  1462.20  720.68300  428.442451
94    252.00  236.409  225.248   808.16  380.45425  247.118755
95    315.08  244.514  204.549   959.53  430.91825  307.749275
96    244.54  162.442  126.614   830.22  340.95400  285.694351
97     72.20   36.201   29.878   345.31  120.89725  130.566519
98      0.90    0.044    0.176    53.52   13.66000   23.015489
99     33.83    0.186    3.979   268.20   76.54875  111.414464
100   220.85    0.223   83.889   750.13  263.77300  291.634348
101   417.85  173.973  244.154  1181.63  504.40175  400.949298
102   134.82  104.017  131.262   439.20  202.32475  137.278097

[103 rows x 6 columns]

In [33]:

groups = np.linspace(0,102)
xs = groups
yerrs = result['STD']
ys = result['Mean']

output_file('errorbars.html')

# plot the points
p = figure(title='Fairbanks errorbars', width=800, height=400)

p.xaxis.axis_label = 'Month'
p.yaxis.axis_label = 'Production'


p.circle(xs, ys, color='red', size=5, line_alpha=0)


# create the coordinates for the errorbars
err_xs = []
err_ys = []

for x, y, yerr in zip(xs, ys, yerrs):
    err_xs.append((x, x))
    err_ys.append((y - yerr, y + yerr))
    
p.vbar(x=groups, width=0.5, bottom=0,
       top=result['Mean'], color="firebrick")
# plot them
p.multi_line(err_xs, err_ys, color='blue')

show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 50), ('y', 103)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('top', 103), ('x', 50)