# Development ideation for putting together a method to import data from an excel spreadsheet or a .txt file, then placing in HDF5 data storage method

In [5]:
import h5py
#Disappointing, but H5Py's documentation is not good. I'm going to explore here to begin to understand.

In [6]:
import numpy as np

In [7]:
#Note that this and calls like it save a file on your computer.
f = h5py.File("Testing_File", 'w')

In [14]:
dset2 = f.create_dataset("Test_Dataset2", (100,100), dtype = 'i')

In [16]:
dset.shape

(100,)

In [18]:
#To create a folder within the overarching h5py file, you create a group. Groups can be nested.
group = f.create_group("New Group")

ValueError: Unable to create group (name already exists)

In [19]:
subgroup = group.create_group("New Subgroup")

In [63]:
#Ok, now it's time to throw in the actual data from our stuff. 
import pandas as pd

dataframe = pd.read_excel("uaf_engineering_building_cleaned.xlsx")

In [23]:
dataframe

    Year      Month   Energy  DC Capacity   Location Tracking
0   2015    October    21.08         10.5  Fairbanks       No
1   2015   November   205.54          NaN        NaN      NaN
2   2015   December   119.81          NaN        NaN      NaN
3   2016    January   274.06          NaN        NaN      NaN
4   2016   February  1044.90          NaN        NaN      NaN
5   2016      March  1438.62          NaN        NaN      NaN
6   2016      April  1648.53          NaN        NaN      NaN
7   2016        May  1435.90          NaN        NaN      NaN
8   2016       June  1277.01          NaN        NaN      NaN
9   2016       July  1162.46          NaN        NaN      NaN
10  2016     August  1313.42          NaN        NaN      NaN
11  2016  September  1075.44          NaN        NaN      NaN
12  2016    October  1406.41          NaN        NaN      NaN
13  2016   November   386.83          NaN        NaN      NaN
14  2016   December   137.67          NaN        NaN      NaN
15  2017    January   183.84          NaN        NaN      NaN
16  2017   February   730.74          NaN        NaN      NaN
17  2017      March  1931.00          NaN        NaN      NaN
18  2017      April  1835.67          NaN        NaN      NaN
19  2017        May  1555.28          NaN        NaN      NaN
20  2017       June  1491.58          NaN        NaN      NaN
21  2017       July  1359.89          NaN        NaN      NaN
22  2017     August  1083.69          NaN        NaN      NaN
23  2017  September   947.55          NaN        NaN      NaN
24  2017    October   447.10          NaN        NaN      NaN
25  2017   November   198.11          NaN        NaN      NaN
26  2017   December    58.28          NaN        NaN      NaN
27  2018    January   252.38          NaN        NaN      NaN
28  2018   February   758.18          NaN        NaN      NaN
29  2018      March  1303.02          NaN        NaN      NaN
30  2018      April  1857.09          NaN        NaN      NaN
31  2018        May  1429.83          NaN        NaN      NaN
32  2018       June  1273.96          NaN        NaN      NaN
33  2018       July  1462.20          NaN        NaN      NaN
34  2018     August   808.16          NaN        NaN      NaN
35  2018  September   959.53          NaN        NaN      NaN
36  2018    October   830.22          NaN        NaN      NaN
37  2018   November   345.31          NaN        NaN      NaN
38  2018   December    53.52          NaN        NaN      NaN
39  2019    January   268.20          NaN        NaN      NaN
40  2019   February   750.13          NaN        NaN      NaN
41  2019      March  1181.63          NaN        NaN      NaN
42  2019      April   439.20          NaN        NaN      NaN

In [26]:
our_data = h5py.File("solar_data_storage", 'w')

In [80]:
our_data.keys()

In [38]:
our_data['uaf_engineering_building_cleaned']

In [39]:
uaf_engineering_building = our_data['uaf_engineering_building_cleaned']

In [42]:
uaf_engineering_building['energy'] = dataframe['Energy']

In [44]:
print(uaf_engineering_building['energy'])

<HDF5 dataset "energy": shape (43,), type "<f8">

In [45]:
#Ok, and once we get all of the data from a dataframe loaded into a single group, we can asign it attributes. 
#That's a good place to store the DC Capacity, Location, and any other metadata we have, I think?

In [46]:
uaf_engineering_building['energy'][5]

1438.62

In [50]:
test_array = []
test_array = np.append(test_array, uaf_engineering_building['energy'])

In [51]:
test_array

array([  21.08,  205.54,  119.81,  274.06, 1044.9 , 1438.62, 1648.53,
       1435.9 , 1277.01, 1162.46, 1313.42, 1075.44, 1406.41,  386.83,
        137.67,  183.84,  730.74, 1931.  , 1835.67, 1555.28, 1491.58,
       1359.89, 1083.69,  947.55,  447.1 ,  198.11,   58.28,  252.38,
        758.18, 1303.02, 1857.09, 1429.83, 1273.96, 1462.2 ,  808.16,
        959.53,  830.22,  345.31,   53.52,  268.2 ,  750.13, 1181.63,
        439.2 ])

In [59]:
test_dataframe = pd.DataFrame(uaf_engineering_building['energy'])

In [60]:
test_dataframe

          0
0     21.08
1    205.54
2    119.81
3    274.06
4   1044.90
5   1438.62
6   1648.53
7   1435.90
8   1277.01
9   1162.46
10  1313.42
11  1075.44
12  1406.41
13   386.83
14   137.67
15   183.84
16   730.74
17  1931.00
18  1835.67
19  1555.28
20  1491.58
21  1359.89
22  1083.69
23   947.55
24   447.10
25   198.11
26    58.28
27   252.38
28   758.18
29  1303.02
30  1857.09
31  1429.83
32  1273.96
33  1462.20
34   808.16
35   959.53
36   830.22
37   345.31
38    53.52
39   268.20
40   750.13
41  1181.63
42   439.20

Great! So now we know how to pull stuff in and out of these systems. We can also add Labels, but I'm not sure how cleanly we could pull labels into these HDF5 styles, and then extract them to label a dataframe, but we need to figure that out too.

We can extract them with the keys. Label each column with the nmae that the keys have.
Basically:
for names in enumerate(all the folders under "fairbanks" or whatever and .keys())
Then go through and pull the data into a dataframe, with title equal to the names variable

We need some way to connect the energy to the dates. I guess we stuff the dates column into it? Well! With a little exploration, it's clear that you can't stuff multiple columns into a single HPF5 thing. You might be able to by going by way of an array though. --- NOPE.

In [61]:
test_dataset = h5py.File("multi label storage", 'w')

In [93]:
test_dataset.close()

In [94]:
test_dataset.create_group("Shouldn't Work")

ValueError: Not a location (invalid object ID)

In [95]:
test_dataset = h5py.File("multi label storage", 'w')

In [104]:
test_dataset.keys()

In [96]:
test_dataset.create_group("Should Work")

In [106]:
test_dataset.create_group("TestGroup")

In [108]:
for names in test_dataset.keys():
    if names == 'Should Work':
        print("Yup")
    if names == 'TestGroup':
        print("Testgroup")

Yup
Testgroup

Ok, we also need a way to store the other information that isn't just the energy and time data. We will need to use attributes to get that done.

In [87]:
dataframe['Location'][0]

'Fairbanks'

In [81]:
uaf_engineering_building.keys()

In [111]:
can_i_haz = uaf_engineering_building.get('energy')

In [112]:
can_i_haz

In [82]:
uaf_engineering_building.attrs.create("DC Capacity", dataframe['DC Capacity'][0])

In [89]:
#There seems to be some problem with storing strings as a dtype. We could store a zip code or a county code? 
uaf_engineering_building.attrs.create("Location", dataframe['Location'][0])

TypeError: No conversion path for dtype: dtype('<U9')

In [99]:
import os

In [115]:
test_string = 'Test String'
can_I_import_strings = uaf_engineering_building.create_group(test_string)
uaf_engineering_building.keys()

In [98]:
uaf_engineering_building.attrs.create("Test Attribute", 7)

In [92]:
uaf_engineering_building.attrs.keys()

In [ ]:
def create_hdf5_file(filename):
    """Function to initialize the hdf5 file type on your computer"""
    #Initialize the file with the name that is passed
    #Could be some value in checking to be sure that the file does not already exist.
    solar_data_storage = h5py.File('{}.hdf5'.format(new_filename), 'w-')

In [116]:
import os
def add_to_hdf5_file(filename, solar_dataframe, panel_name, location):
    """This function assumes a specific layout in a pandas dataframe for a single solar panel, 
    and takes that data and adds it into an hdf5 file with the name that is passed."""
    #Have a quick conversion that converts all the text inputs to lowercase. 
    
    #Check to see if the HDF5 file exists, otherwise pass info on how to create it.
    if os.path.exists('{}.hdf5'.format(filename)):
        hdf5_file = h5py.File('{}.hdf5'.format(filename), 'w')
    else:
        raise PathError("The passed HDF5 filename does not exist."
                        "Run the `create_hdf5_file` function to create it")
    
    #Structure is to check to see if location exists already in the hdf5. If it does, then navigate to under it
    #If it doesn't, then create the location, and navigate to under it. Then, add this data under
    #The name that is passed as panel_name.
    location_finder = 0
    #Check to see if the location already exists in the HDF5 Structure:
    for names in hdf5_file.keys():
        if names == location:
            print("This location already exists. Navigating there now.")
            #HOW DO YOU ACCESS A GROUP THAT ALREADY EXISTS?
            hdf5_location_group = hdf5_file.get(location)
            location_finder = 1
    #If the location didn't already exist, this will create it in the HDF5 structure.
    if location_finder == 0:
        hdf5_location_group = hdf5_file.create_group(str(location))
     
    #Check to be sure that the panel doesn't already exist. If it does, raise an error. 
    for names in hdf5_location_group.keys():
        if names == panel_name:
            print("You've already entered this panel's data!")
            print("You should use the `update_panel_data` function instead.")
            raise OverwriteError("This panel already exists in the HDF5 structure")
    #If it doesn't exist, then make a group for it to place all the datasets within
    panel_data = hdf5_location_group.create_group(panel_name)
    
    #Ok, now we'll create all the datasets within that group at that location from the dataframe
    panel_data_energy = panel_data.create_dataset("Energy", solar_dataframe['Energy'])
    panel_data_month = panel_data.create_dataset("Month", solar_dataframe['Month'])
    panel_data_year = panel_data.create_dataset("Year", solar_dataframe['Year'])
    
    #Then close the HDF5 file to make sure no accidental writings occur.
    hdf5_file.close()

In [ ]:
def update_existing_panel_entry():