In [161]:
import pandas as pd
import numpy as np

In [162]:
# import a file that contains missing data
bethel = pd.read_excel('../Cleaned_data/RuralAk/RuralAK_Bethel_cleaned.xlsx')

In [163]:
# get the index of the Missing data
index = bethel['Energy'].index[bethel['Energy'].apply(np.isnan)]
bethel_index = bethel.index.values.tolist()
a = [bethel_index.index(i) for i in index]
a

[41, 42, 43, 44, 45, 46, 47, 63, 64, 65, 66, 67]

In [164]:
def filling_missing_data(dataframe):            
    #get the index of the Missing data        
    index = dataframe['Energy'].index[dataframe['Energy'].apply(np.isnan)]
    dataframe_index = dataframe.index.values.tolist()
    a = [dataframe_index.index(i) for i in index]
    dataframe['Status']=""
    
    # extract the same months' data and calculate the average
    for i in a :
        Index_of_Month = []
        Energy_of_month=[]
        for n in range(len(dataframe)):
            if dataframe['Month'][n]==dataframe['Month'][i]:
                Index_of_Month.append(n)
        for c in Index_of_Month:
            Energy_of_month.append(dataframe['Energy'][c])
        average = np.nanmean(Energy_of_month)
        dataframe['Energy'][i] = average
        dataframe['Status'][i] = 0

In [165]:
filling_missing_data(bethel)

/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [158]:

            
    #get the index of the Missing data        
index = bethel['Energy'].index[bethel['Energy'].apply(np.isnan)]
dataframe_index = bethel.index.values.tolist()
a = [dataframe_index.index(i) for i in index]
    
    # extract the same months' data and calculate the average
for i in a :
    Index_of_Month = []
    Energy_of_month=[]
    for n in range(len(bethel)):
        if bethel['Month'][n]==bethel['Month'][i]:
            Index_of_Month.append(n)
    for c in Index_of_Month:
        Energy_of_month.append(bethel['Energy'][c])
    average = np.nanmean(Energy_of_month)
    bethel['Energy'][i] = average

/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [166]:
index = bethel['Energy'].index[bethel['Energy'].apply(np.isnan)]
dataframe_index = bethel.index.values.tolist()
a = [dataframe_index.index(i) for i in index]
a

[]

In [141]:
#get the index of the Missing data        
index = bethel['Energy'].index[bethel['Energy'].apply(np.isnan)]
dataframe_index = bethel.index.values.tolist()
a = [dataframe_index.index(i) for i in index]

In [168]:
bethel

    Year      Month       Energy  DC Capacity Location Status
0   2012    October   950.000000         10.0   Bethel
1   2012   November   739.000000          NaN      NaN
2   2012   December   370.000000          NaN      NaN
3   2013    January   329.000000          NaN      NaN
4   2013   February   730.000000          NaN      NaN
5   2013      March  1575.000000          NaN      NaN
6   2013      April  2374.000000          NaN      NaN
7   2013        May  1902.000000          NaN      NaN
8   2013       June  1481.000000          NaN      NaN
9   2013       July  1127.000000          NaN      NaN
10  2013     August   885.000000          NaN      NaN
11  2013  September   899.000000          NaN      NaN
12  2013    October   501.000000          NaN      NaN
13  2013   November   284.000000          NaN      NaN
14  2013   December   182.000000          NaN      NaN
15  2014    January   214.000000          NaN      NaN
16  2014   February   798.000000          NaN      NaN
17  2014      March  1726.000000          NaN      NaN
18  2014      April  1671.000000          NaN      NaN
19  2014        May  1734.000000          NaN      NaN
20  2014       June  1589.000000          NaN      NaN
21  2014       July  1346.000000          NaN      NaN
22  2014     August  1085.000000          NaN      NaN
23  2014  September  1055.000000          NaN      NaN
24  2014    October   826.000000          NaN      NaN
25  2014   November   367.000000          NaN      NaN
26  2014   December   172.000000          NaN      NaN
27  2015    January   585.000000          NaN      NaN
28  2015   February   738.000000          NaN      NaN
29  2015      March  1309.000000          NaN      NaN
..   ...        ...          ...          ...      ...    ...
48  2016    October   839.000000          NaN      NaN
49  2016   November   496.000000          NaN      NaN
50  2016   December   222.000000          NaN      NaN
51  2017    January   476.000000          NaN      NaN
52  2017   February   884.000000          NaN      NaN
53  2017      March  2272.000000          NaN      NaN
54  2017      April  1547.000000          NaN      NaN
55  2017        May  1552.000000          NaN      NaN
56  2017       June  1391.000000          NaN      NaN
57  2017       July  1281.000000          NaN      NaN
58  2017     August  1111.000000          NaN      NaN
59  2017  September   780.000000          NaN      NaN
60  2017    October   529.000000          NaN      NaN
61  2017   November   202.000000          NaN      NaN
62  2017   December   117.000000          NaN      NaN
63  2018    January   360.666667          NaN      NaN      0
64  2018   February   731.166667          NaN      NaN      0
65  2018      March  1561.000000          NaN      NaN      0
66  2018      April  1756.250000          NaN      NaN      0
67  2018        May  1606.750000          NaN      NaN      0
68  2018       June  1339.000000          NaN      NaN
69  2018       July  1092.000000          NaN      NaN
70  2018     August   737.000000          NaN      NaN
71  2018  September   881.000000          NaN      NaN
72  2018    October   563.000000          NaN      NaN
73  2018   November   380.000000          NaN      NaN
74  2018   December   206.000000          NaN      NaN
75  2019    January   271.000000          NaN      NaN
76  2019   February   423.000000          NaN      NaN
77  2019      March   923.000000          NaN      NaN

[78 rows x 6 columns]